openapi: 3.0.3
info:
  title: LumAgg API
  description: |
    Stellar DEX aggregator — quotes and unsigned swap transactions across Soroban AMMs
    (Soroswap, Aquarius, Phoenix, Sushi V3, Comet) and optionally Classic SDEX.

    **Rate limits:** 10 req/s per IP; 60 req/s with valid `X-API-Key` (partner keys).
    See [integrator-guide.md](./integrator-guide.md).
  version: 1.1.0
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.lumagg.xyz
    description: Production
  - url: http://127.0.0.1:3100
    description: Local dev
tags:
  - name: routing
  - name: tokens
  - name: prices
  - name: orders
  - name: wallet
  - name: tx
  - name: health
paths:
  /api/v1/health:
    get:
      tags: [health]
      summary: Service health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /api/v1/ready:
    get:
      tags: [health]
      summary: Market-data readiness
      description: Returns 503 while the routing graph is still warming up.
      responses:
        '200':
          description: Routing graph is ready to serve quotes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '503':
          description: Market data is not ready yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
  /api/v1/tokens:
    get:
      tags: [tokens]
      summary: Supported tokens
      responses:
        '200':
          description: Token list with logos
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Token'
  /api/v1/quote:
    get:
      tags: [routing]
      summary: Best swap route
      description: |
        Returns optimal route(s) and expected output. Set `prefer_soroban=1` to exclude
        Classic SDEX paths (apples-to-apples vs Soroban-only aggregators).
      parameters:
        - $ref: '#/components/parameters/token_in'
        - $ref: '#/components/parameters/token_out'
        - $ref: '#/components/parameters/amount_in'
        - name: slippage
          in: query
          required: false
          schema:
            type: number
            format: double
            example: 0.5
          description: Slippage tolerance in percent (default 0.5)
        - name: max_hops
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            example: 3
          description: Path-finder hop limit (pool hops). Omit = server default
        - name: max_splits
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            example: 3
          description: Max parallel sub-routes in a split quote. Omit = server default
        - name: prefer_soroban
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
          description: When `1`, exclude Classic SDEX — Soroban AMMs only
        - name: debug
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
          description: Include split optimizer debug when `1`
      responses:
        '200':
          description: Quote result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '400':
          description: Invalid parameters
        '429':
          description: Rate limit exceeded
  /api/v1/build_tx:
    post:
      tags: [routing]
      summary: Build unsigned swap transaction
      description: |
        Builds wallet-ready XDR from quote `sub_routes`. Classic routes return PathPayment XDR;
        Soroban routes return invoke host function XDR (simulated).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildTxRequest'
      responses:
        '200':
          description: Unsigned transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildTxResponse'
        '400':
          description: Invalid body or unsupported route mix
        '429':
          description: Rate limit exceeded
  /api/v1/stats:
    get:
      tags: [health]
      summary: On-chain aggregator stats (indexer DB)
      description: |
        Daily rollups from `analytics-indexer` SQLite. Requires `INDEXER_DB_PATH` on the API server.
        Optional `day=YYYY-MM-DD` filters to a single UTC day. Set `format=csv` for grant report download.
        Routed volume is the sum of actual inputs processed by successful DEX legs, priced by each leg's input token.
        Round-trip gross surplus is actual on-chain `amount_out - amount_in`; transaction fees are not deducted.
      parameters:
        - name: day
          in: query
          required: false
          schema:
            type: string
            example: "2026-07-13"
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Stats rollup (JSON or CSV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
            text/csv:
              schema:
                type: string
        '503':
          description: INDEXER_DB_PATH not configured
  /api/v1/arbitrage:
    get:
      tags: [health]
      summary: Round-trip arbitrage history and terminal status counts
      description: |
        Recent successful on-chain `round_trip_swap` invocations and indexed terminal status counts.
        Gross surplus is `amount_out - amount_in` in base-token stroops; transaction fees are not deducted.
        Requires `INDEXER_DB_PATH` on the API server.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 25
          description: Max rows to return (default 25)
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            example: "1700000200:ccc"
          description: |
            Opaque pagination cursor from a previous response's `next_cursor`
            (`{created_at}:{tx_hash}`). Returns rows older than that position.
      responses:
        '200':
          description: Successful round trips (may be empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArbitrageResponse'
        '400':
          description: Invalid `cursor`
        '503':
          description: INDEXER_DB_PATH not configured
  /api/v1/arbitrage/stats:
    get:
      tags: [health]
      summary: Aggregated arbitrage statistics
      description: |
        Time-bucketed confirmed round-trip results from the analytics indexer.
        Surplus values are raw atomic units for XLM and USDC and only successful
        transactions contribute to surplus. Requires `INDEXER_DB_PATH` on the API server.
      parameters:
        - name: granularity
          in: query
          required: false
          schema:
            type: string
            enum: [hour, day, week, month]
            default: day
          description: Bucket size. The default window is selected from the granularity.
        - name: start
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: Inclusive Unix timestamp in seconds.
        - name: end
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: Exclusive Unix timestamp in seconds. Defaults to the current time.
      responses:
        '200':
          description: Aggregated arbitrage buckets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArbitrageStatsResponse'
        '400':
          description: Invalid granularity or timestamp range
        '503':
          description: INDEXER_DB_PATH not configured
  /api/v1/swaps:
    get:
      tags: [health]
      summary: Wallet swap history (indexer DB)
      description: |
        Recent LumAgg aggregator invocations for a Stellar account. Requires `INDEXER_DB_PATH`
        on the API server (same SQLite as `/stats`). Ordered by `created_at` descending.
      parameters:
        - name: user
          in: query
          required: true
          schema:
            type: string
            example: "GABCDEFGHIJKLMNOPQRSTUVWXYZ234567ABCDEFGHIJKLMNOPQRSTUVW"
          description: Stellar account public key (`G…`, 56 chars)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
          description: Max rows to return (default 20)
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            example: "1700000200:ccc"
          description: |
            Opaque pagination cursor from a previous response's `next_cursor`
            (`{created_at}:{tx_hash}`). Returns rows older than that position.
      responses:
        '200':
          description: Swap history for the wallet (may be empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapsResponse'
        '400':
          description: Missing or invalid `user`
        '503':
          description: INDEXER_DB_PATH not configured
  /api/v1/orders:
    get:
      tags: [orders]
      summary: Wallet limit orders (indexer DB)
      description: |
        Open and historical limit orders for a Stellar account from escrow lifecycle events.
        Requires `INDEXER_DB_PATH` and `ESCROW_CONTRACT` on the API server (the
        database must be indexed for that escrow instance). The same SQLite file
        is shared with `/stats` and `/swaps`.
        Default `status=open` returns only open orders; `status=all` includes filled, cancelled, and expired.
      parameters:
        - name: user
          in: query
          required: true
          schema:
            type: string
            example: "GABCDEFGHIJKLMNOPQRSTUVWXYZ234567ABCDEFGHIJKLMNOPQRSTUVW"
          description: Stellar account public key (`G…`, 56 chars)
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [open, all]
            default: open
          description: Filter by order status (default `open`)
      responses:
        '200':
          description: Limit orders for the wallet (may be empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersResponse'
        '400':
          description: Missing or invalid `user` / `status`
        '503':
          description: INDEXER_DB_PATH or ESCROW_CONTRACT not configured, or the indexer DB is unavailable
  /api/v1/orders/build_create:
    post:
      tags: [orders]
      summary: Build unsigned create-limit transaction
      description: |
        Simulates and prepares wallet-ready XDR invoking `order-escrow.create_limit`.
        Requires `ESCROW_CONTRACT` on the API server. Wallet signs and submits via Soroban RPC.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildCreateOrderRequest'
      responses:
        '200':
          description: "Unsigned transaction (or `success: false` with build error in body)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBuildTxResponse'
        '400':
          description: Invalid body
        '503':
          description: ESCROW_CONTRACT not configured
        '429':
          description: Rate limit exceeded
  /api/v1/orders/build_cancel:
    post:
      tags: [orders]
      summary: Build unsigned cancel-order transaction
      description: |
        Simulates and prepares wallet-ready XDR invoking `order-escrow.cancel`.
        Requires `ESCROW_CONTRACT` on the API server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildCancelOrderRequest'
      responses:
        '200':
          description: "Unsigned transaction (or `success: false` with build error in body)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBuildTxResponse'
        '400':
          description: Invalid body
        '503':
          description: ESCROW_CONTRACT not configured
        '429':
          description: Rate limit exceeded
  /api/v1/dca:
    get:
      tags: [orders]
      summary: Wallet DCA orders (indexer DB)
      description: |
        Open and historical DCA orders for a Stellar account from escrow lifecycle events.
        Requires `INDEXER_DB_PATH` and `ESCROW_CONTRACT` on the API server. The
        database must be indexed for that escrow instance. Default `status=open`
        returns only open orders; `status=all` also includes filled, cancelled,
        and expired orders.
      parameters:
        - name: user
          in: query
          required: true
          schema:
            type: string
            example: "GABCDEFGHIJKLMNOPQRSTUVWXYZ234567ABCDEFGHIJKLMNOPQRSTUVW"
          description: Stellar account public key (`G...`, 56 chars)
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [open, all]
            default: open
          description: Filter by DCA order status (default `open`)
      responses:
        '200':
          description: DCA orders for the wallet (may be empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DcaOrdersResponse'
        '400':
          description: Missing or invalid `user` / `status`
        '503':
          description: INDEXER_DB_PATH or ESCROW_CONTRACT not configured, or the indexer DB is unavailable
  /api/v1/dca/build_create:
    post:
      tags: [orders]
      summary: Build unsigned create-DCA transaction
      description: |
        Simulates and prepares wallet-ready XDR invoking `order-escrow.create_dca`.
        Requires `ESCROW_CONTRACT` on the API server. Set `min_out_per_in_e7` to
        `0` for market execution or a positive value for a per-chunk rate floor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildCreateDcaRequest'
      responses:
        '200':
          description: "Unsigned transaction (or `success: false` with build error in body)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBuildTxResponse'
        '400':
          description: Invalid body
        '503':
          description: ESCROW_CONTRACT not configured
        '429':
          description: Rate limit exceeded
  /api/v1/dca/build_cancel:
    post:
      tags: [orders]
      summary: Build unsigned cancel-DCA transaction
      description: |
        Simulates and prepares wallet-ready XDR invoking `order-escrow.cancel_dca`.
        Requires `ESCROW_CONTRACT` on the API server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildCancelOrderRequest'
      responses:
        '200':
          description: "Unsigned transaction (or `success: false` with build error in body)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBuildTxResponse'
        '400':
          description: Invalid body
        '503':
          description: ESCROW_CONTRACT not configured
        '429':
          description: Rate limit exceeded
  /api/v1/prices:
    get:
      tags: [prices]
      summary: Latest USDC marks (batch)
      description: |
        Returns the latest sampled or on-demand USDC price per token id. When no tick exists
        in the price store, the server quotes once via the routing engine and may persist a tick.
        Unpriceable ids are omitted from the response.
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
            example: "CAS3J7GYLGXMF6TDJBBYYSE3HQ6BBSMLNUQ34T6TZMYMW2EVH34XOWMA,CCW67TSZV3SSS2HXMBQ5JFGCKJNXKZM7UQUWUZPUTHXSTZLEO7SJMI75"
          description: Comma-separated token contract ids (max 50)
      responses:
        '200':
          description: Latest prices (may be partial)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesResponse'
        '400':
          description: Missing or invalid `ids`
  /api/v1/prices/history:
    get:
      tags: [prices]
      summary: Sampled USDC price history
      description: |
        Returns quote-sampled USDC ticks for sparkline charts. Requires `PRICE_DB_PATH` on the
        server for non-empty history; otherwise returns `200` with `points: []`.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
            example: "CAS3J7GYLGXMF6TDJBBYYSE3HQ6BBSMLNUQ34T6TZMYMW2EVH34XOWMA"
          description: Token contract id
        - name: range
          in: query
          required: false
          schema:
            type: string
            enum: [24h, 7d]
            default: 24h
          description: History window (default `24h`)
      responses:
        '200':
          description: Price ticks in the requested range (may be empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceHistoryResponse'
        '400':
          description: Missing or invalid `id` / `range`
  /api/v1/balance:
    get:
      tags: [wallet]
      summary: Single SAC balance + trustline hint
      description: |
        Simulates SAC `balance` for `account`/`token`. Native XLM SAC always reports
        `has_trustline: true`. Missing classic trustline yields `balance: "0"` and
        `has_trustline: false` when detectable.
      parameters:
        - name: account
          in: query
          required: true
          schema:
            type: string
            example: "GA6RKSBPI2TSP52OW2IJTPK7LRMX24DF42KF3FBGBNMBYCV6NPDMOCBY"
        - name: token
          in: query
          required: true
          schema:
            type: string
            example: "CAS3J7GYLGXMF6TDJBBYYSE3HQ6BBSMLNUQ34T6TZMYMW2EVH34XOWMA"
      responses:
        '200':
          description: BalanceResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
  /api/v1/balances:
    get:
      tags: [wallet]
      summary: Token balances for account
      description: >
        Batch SAC balances via Soroban RPC (no Horizon).
        `scope=common` — curated hubs (~15, fast).
        `scope=catalog` — full quote-engine token set.
      parameters:
        - name: account
          in: query
          required: true
          schema:
            type: string
        - name: scope
          in: query
          required: false
          schema:
            type: string
            enum: [common, catalog]
            default: catalog
            description: common = fast hubs; catalog = full set
      responses:
        '200':
          description: BalancesResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
  /api/v1/account:
    get:
      tags: [wallet]
      summary: Account sequence via Soroban RPC
      parameters:
        - name: account
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: AccountResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
  /api/v1/classic_asset:
    get:
      tags: [wallet]
      summary: Resolve SAC contract to classic code/issuer
      parameters:
        - name: contract
          in: query
          required: true
          schema:
            type: string
            description: SAC contract id (`C…`)
      responses:
        '200':
          description: ClassicAssetResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicAssetResponse'
  /api/v1/ledger/latest:
    get:
      tags: [wallet]
      summary: Latest closed ledger sequence
      responses:
        '200':
          description: LatestLedgerResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestLedgerResponse'
  /api/v1/submit_tx:
    post:
      tags: [tx]
      summary: Submit signed XDR (fast enqueue)
      description: |
        Proxies signed envelope to the server Soroban RPC and returns quickly
        (`PENDING` / hash). Poll `GET /api/v1/tx_status` for inclusion. The
        request body is limited to 128 KiB and `signed_tx_xdr` is limited to
        96 KiB. Only signed, non-V0, non-fee-bump transaction envelopes are accepted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signed_tx_xdr]
              properties:
                signed_tx_xdr:
                  type: string
                  maxLength: 98304
                  description: Base64 signed transaction envelope XDR
      responses:
        '200':
          description: Enqueued or accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTxResponse'
        '400':
          description: Missing XDR or transaction rejected by the network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTxResponse'
        '502':
          description: Upstream Soroban RPC request failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTxResponse'
        '503':
          description: Soroban transaction queue temporarily unavailable; retry shortly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTxResponse'
        '413':
          description: Request body exceeds the API limit
  /api/v1/tx_status:
    get:
      tags: [tx]
      summary: Poll inclusion after submit_tx
      parameters:
        - name: hash
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: TxStatusResponse (`confirmed` true only when status is SUCCESS)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxStatusResponse'
components:
  parameters:
    token_in:
      name: token_in
      in: query
      required: true
      schema:
        type: string
      description: Input token contract ID (or `native` for XLM)
    token_out:
      name: token_out
      in: query
      required: true
      schema:
        type: string
      description: Output token contract ID
    amount_in:
      name: amount_in
      in: query
      required: true
      schema:
        type: string
      description: Input amount in stroops (7 decimals for most SAC tokens)
  schemas:
    ReadinessResponse:
      type: object
      required: [status, ready, tokens, pools]
      properties:
        status:
          type: string
          enum: [ready, warming_up]
        ready:
          type: boolean
        tokens:
          type: integer
          minimum: 0
        pools:
          type: integer
          minimum: 0
    Token:
      type: object
      properties:
        id:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: integer
        logo:
          type: string
    QuoteResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            amount_in:
              type: string
            expected_output:
              type: string
            minimum_output:
              type: string
            price_impact:
              type: number
            is_split:
              type: boolean
            sub_routes:
              type: array
              items:
                $ref: '#/components/schemas/SubRoute'
            compute_time_ms:
              type: integer
            snapshot_version:
              type: string
              description: Version of the market snapshot used for this quote.
            snapshot_generated_at_ms:
              type: integer
              format: int64
              description: Snapshot generation time in Unix milliseconds.
            snapshot_age_ms:
              type: integer
              format: int64
              description: Approximate age of the market snapshot when the quote was returned.
            pool_state_age_ms:
              type: integer
              format: int64
              description: Age in milliseconds of the oldest hydrated pool state used by this quote.
        error:
          type: string
    SubRoute:
      type: object
      properties:
        source:
          type: string
        path:
          type: array
          items:
            type: string
        pool_addresses:
          type: array
          items:
            type: string
        dex_types:
          type: array
          items:
            type: string
        in_indices:
          type: array
          items:
            type: integer
        out_indices:
          type: array
          items:
            type: integer
        amount_in:
          type: string
        amount_out:
          type: string
        percentage:
          type: number
    BuildTxRequest:
      type: object
      required:
        - user_public_key
        - token_in
        - token_out
        - amount_in
        - min_amount_out
        - sub_routes
      properties:
        user_public_key:
          type: string
          description: Stellar G-address (signer)
        token_in:
          type: string
        token_out:
          type: string
        amount_in:
          type: string
        min_amount_out:
          type: string
        sub_routes:
          type: array
          items:
            type: object
            properties:
              amount_in:
                type: string
              steps:
                type: array
                items:
                  type: object
                  properties:
                    dex_type:
                      type: string
                    pool_address:
                      type: string
                    token_in:
                      type: string
                    token_out:
                      type: string
                    in_idx:
                      type: integer
                    out_idx:
                      type: integer
    BuildTxResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            xdr:
              type: string
            execution:
              type: string
              enum: [soroban, classic]
            hash:
              type: string
        error:
          type: string
    StatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            db_path:
              type: string
            invocation_count:
              type: integer
            cursor_ledger:
              type: integer
            oldest_created_at:
              type: integer
            daily:
              type: array
              items:
                type: object
                properties:
                  day:
                    type: string
                  tx_count:
                    type: integer
                  unique_users:
                    type: integer
                  total_amount_in:
                    type: string
                  total_amount_in_usd:
                    type: number
                    nullable: true
                  total_routed_dex_volume:
                    type: string
                    description: Sum of actual DEX leg inputs in mixed atomic units; use USD or by_token for reporting
                  total_routed_dex_volume_usd:
                    type: number
                    nullable: true
                  routed_leg_count:
                    type: integer
                  routed_priced_leg_count:
                    type: integer
                  routed_pricing_coverage:
                    type: number
                    nullable: true
                    description: Fraction of actual DEX legs included in routed USD
                  round_trip_count:
                    type: integer
                  round_trip_gross_surplus_usd:
                    type: number
                    nullable: true
                    description: Successful on-chain round-trip surplus before transaction fees
                  round_trip_by_token:
                    type: array
                    items:
                      type: object
                      properties:
                        base_token:
                          type: string
                        tx_count:
                          type: integer
                        amount_in:
                          type: string
                        gross_surplus:
                          type: string
                        gross_surplus_usd:
                          type: number
                          nullable: true
                  round_trip_by_bridge:
                    type: array
                    description: Successful round trips grouped by intermediary bridge token
                    items:
                      type: object
                      properties:
                        bridge_token:
                          type: string
                        tx_count:
                          type: integer
                        amount_in:
                          type: string
                        gross_surplus:
                          type: string
                  by_token:
                    type: array
                    description: Entry notional grouped by invocation token_in
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                        amount_in:
                          type: string
                          description: Entry notional in this token
                        routed_volume:
                          type: string
                          description: Actual input processed by DEX legs in this token
                        routed_leg_count:
                          type: integer
                  routed_by_token:
                    type: array
                    description: Actual DEX leg inputs grouped by each leg's token_in
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                        routed_volume:
                          type: string
                        routed_leg_count:
                          type: integer
                  split_swap_count:
                    type: integer
                  success_count:
                    type: integer
                  failed_count:
                    type: integer
        error:
          type: string
    ArbitrageResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            round_trips:
              type: array
              items:
                $ref: '#/components/schemas/RoundTripItem'
            success_count:
              type: integer
              format: int64
              description: Total indexed successful round-trip invocations.
            failed_count:
              type: integer
              format: int64
              description: Total indexed failed round-trip invocations.
            failure_reasons:
              type: array
              description: Classified indexed failures decoded from Soroban resultXdr; legacy rows may be absent.
              items:
                type: object
                required: [reason, count]
                properties:
                  reason:
                    type: string
                  count:
                    type: integer
                    format: int64
            unclassified_failed_count:
              type: integer
              format: int64
              description: Failed round trips whose result XDR was unavailable or could not be classified.
            next_cursor:
              type: string
              nullable: true
              description: Pass as `cursor` to fetch the next older page; omitted when no further rows
        error:
          type: string
    ArbitrageStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            granularity:
              type: string
              enum: [hour, day, week, month]
            start:
              type: integer
              format: int64
            end:
              type: integer
              format: int64
            buckets:
              type: array
              items:
                $ref: '#/components/schemas/ArbitrageStatsBucket'
        error:
          type: string
    ArbitrageStatsBucket:
      type: object
      required: [start, label, tx_count, success_count, failed_count, xlm_tx_count, usdc_tx_count, xlm_surplus, usdc_surplus]
      properties:
        start:
          type: integer
          format: int64
          description: Bucket start as a Unix timestamp in seconds.
        label:
          type: string
        tx_count:
          type: integer
          format: int64
        success_count:
          type: integer
          format: int64
        failed_count:
          type: integer
          format: int64
        xlm_tx_count:
          type: integer
          format: int64
        usdc_tx_count:
          type: integer
          format: int64
        xlm_surplus:
          type: string
          description: Successful XLM surplus in stroops.
        usdc_surplus:
          type: string
          description: Successful USDC surplus in smallest token units.
    RoundTripItem:
      type: object
      properties:
        tx_hash:
          type: string
        ledger:
          type: integer
        created_at:
          type: integer
          description: Unix timestamp (seconds)
        status:
          type: string
          example: SUCCESS
        base_token:
          type: string
          nullable: true
          description: Round-trip base (token_in / token_out)
        bridge_token:
          type: string
          nullable: true
        amount_in:
          type: string
        amount_out:
          type: string
          nullable: true
        gross_surplus:
          type: string
          nullable: true
          description: amount_out − amount_in in base-token stroops
        is_split:
          type: boolean
    SwapsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            swaps:
              type: array
              items:
                $ref: '#/components/schemas/SwapItem'
            next_cursor:
              type: string
              nullable: true
              description: Pass as `cursor` to fetch the next older page; omitted when no further rows
        error:
          type: string
    SwapItem:
      type: object
      properties:
        tx_hash:
          type: string
        ledger:
          type: integer
        created_at:
          type: integer
          description: Unix timestamp (seconds)
        status:
          type: string
          example: SUCCESS
        function_name:
          type: string
          example: swap
        token_in:
          type: string
          nullable: true
        token_out:
          type: string
          nullable: true
        amount_in:
          type: string
        amount_out:
          type: string
          nullable: true
        is_split:
          type: boolean
    OrdersResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            orders:
              type: array
              items:
                $ref: '#/components/schemas/OrderItem'
        error:
          type: string
    OrderItem:
      type: object
      properties:
        order_id:
          type: integer
          format: int64
        owner:
          type: string
        token_in:
          type: string
        token_out:
          type: string
        amount_in_initial:
          type: string
          nullable: true
        amount_in_remaining:
          type: string
        limit_out_per_in_e7:
          type: string
          description: Minimum output per 1e7 units of input (escrow limit price)
        expires_ledger:
          type: integer
          format: int32
        status:
          type: string
          example: open
        created_ledger:
          type: integer
          format: int32
          nullable: true
        updated_ledger:
          type: integer
          format: int32
        created_at:
          type: integer
          nullable: true
          description: Unix timestamp (seconds)
        updated_at:
          type: integer
          description: Unix timestamp (seconds)
    BuildCreateOrderRequest:
      type: object
      required:
        - user
        - token_in
        - token_out
        - amount_in
        - limit_out_per_in_e7
        - expires_ledger
      properties:
        user:
          type: string
          description: Stellar G-address (order owner / signer)
        token_in:
          type: string
          description: Input token contract id (C…)
        token_out:
          type: string
          description: Output token contract id (C…)
        amount_in:
          type: string
          description: Input amount in stroops
        limit_out_per_in_e7:
          type: string
          description: Minimum output per 1e7 units of input
        expires_ledger:
          type: integer
          format: int32
          description: Ledger sequence after which the order may be reclaimed
    BuildCancelOrderRequest:
      type: object
      required:
        - user
        - order_id
      properties:
        user:
          type: string
          description: Stellar G-address (order owner / signer)
        order_id:
          type: integer
          format: int64
          description: Escrow order id to cancel
    DcaOrdersResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            orders:
              type: array
              items:
                $ref: '#/components/schemas/DcaOrderItem'
        error:
          type: string
    DcaOrderItem:
      type: object
      properties:
        order_id:
          type: integer
          format: int64
        owner:
          type: string
        token_in:
          type: string
        token_out:
          type: string
        amount_in_initial:
          type: string
        amount_in_remaining:
          type: string
        chunk_amount:
          type: string
        interval_ledgers:
          type: integer
          format: int32
        next_executable_ledger:
          type: integer
          format: int32
        min_out_per_in_e7:
          type: string
          description: Per-chunk minimum output per 1e7 input units; `0` means market execution
        expires_ledger:
          type: integer
          format: int32
        status:
          type: string
          example: open
        updated_ledger:
          type: integer
          format: int32
        updated_at:
          type: integer
          description: Unix timestamp (seconds)
    BuildCreateDcaRequest:
      type: object
      required:
        - user
        - token_in
        - token_out
        - amount_in
        - chunk_amount
        - interval_ledgers
        - start_ledger
        - min_out_per_in_e7
        - expires_ledger
      properties:
        user:
          type: string
          description: Stellar G-address (DCA owner / signer)
        token_in:
          type: string
          description: Input token contract id (C...)
        token_out:
          type: string
          description: Output token contract id (C...)
        amount_in:
          type: string
          description: Total input amount in token atomic units
        chunk_amount:
          type: string
          description: Maximum input amount executed in each interval
        interval_ledgers:
          type: integer
          format: int32
          minimum: 1
          description: Minimum ledger distance between executions
        start_ledger:
          type: integer
          format: int32
          description: First executable ledger; cannot be in the past
        min_out_per_in_e7:
          type: string
          description: Per-chunk minimum output per 1e7 input units; use `0` for market execution
          default: "0"
        expires_ledger:
          type: integer
          format: int32
          description: Must follow start_ledger and be within the contract's 30-day maximum lifetime
    OrderBuildTxResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            unsigned_tx_xdr:
              type: string
              description: Unsigned transaction envelope XDR (base64)
            fee:
              type: string
              description: Estimated fee in stroops
            execution:
              type: string
              enum: [soroban]
            num_operations:
              type: integer
            contract:
              type: string
              description: Deployed order-escrow contract id (C…)
        error:
          type: string
    PricesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            prices:
              type: array
              items:
                $ref: '#/components/schemas/PriceItem'
        error:
          type: string
    PriceItem:
      type: object
      properties:
        id:
          type: string
          description: Token contract id
        price_usdc:
          type: number
          format: double
          description: USDC mark (1 unit of token)
        ts:
          type: integer
          description: Unix timestamp (seconds) when the mark was recorded
        via:
          type: string
          enum: [usdc, xlm]
          description: Route used for the mark (`usdc` direct or via XLM)
    PriceHistoryResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
            range:
              type: string
              enum: [24h, 7d]
            points:
              type: array
              items:
                $ref: '#/components/schemas/PricePoint'
        error:
          type: string
    PricePoint:
      type: object
      properties:
        ts:
          type: integer
          description: Unix timestamp (seconds)
        price_usdc:
          type: number
          format: double
    BalanceResponse:
      type: object
      properties:
        success:
          type: boolean
        balance:
          type: string
          description: Raw token units (stroops-style)
        has_trustline:
          type: boolean
          description: Classic trustline presence when known
        error:
          type: string
    BalancesResponse:
      type: object
      properties:
        success:
          type: boolean
        account:
          type: string
        scope:
          type: string
          example: catalog
        tokens_queried:
          type: array
          items:
            type: string
        balances:
          type: object
          additionalProperties:
            type: string
        has_trustline:
          type: object
          additionalProperties:
            type: boolean
        updated_at_ms:
          type: integer
          format: int64
        error:
          type: string
    AccountResponse:
      type: object
      properties:
        success:
          type: boolean
        sequence:
          type: string
        error:
          type: string
    ClassicAssetResponse:
      type: object
      properties:
        success:
          type: boolean
        code:
          type: string
        issuer:
          type: string
        error:
          type: string
    LatestLedgerResponse:
      type: object
      properties:
        success:
          type: boolean
        sequence:
          type: integer
          format: int64
        error:
          type: string
    SubmitTxResponse:
      type: object
      properties:
        success:
          type: boolean
        hash:
          type: string
        status:
          type: string
          description: e.g. PENDING, DUPLICATE, ERROR
        error:
          type: string
    TxStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        hash:
          type: string
        status:
          type: string
          description: SUCCESS | FAILED | NOT_FOUND | …
        confirmed:
          type: boolean
          description: True only when status is SUCCESS
        error:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Optional partner key for higher rate limits
security:
  - ApiKeyAuth: []
